<h1>Survey Results</h1>
<a href="/questions/new"><p>Add a Question</p></a>
  <p style="font-size: 20pt; width: fit-content; margin: 0 auto;">↧</p>

<% @questions.each do | question | %>
  <h3><%= link_to question.text, question %></h3>
  <% if question.answers.count > 0 %>
    <ul>
      <% question.answers.each do | answer | %>
        <li><%= answer.text %> | <%= answer.vote %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No answers yet</p>
  <% end %> 
<% end %>   

<style>
  h1, p, h3 { text-align: center; }
  ul { width: fit-content; margin: 0 auto; }
</style>