<section class="review-slick" style="">
  <% @reviews.each do | review | %> 
      <div class="tac background-natural review-slick-slide" style="">
          <p class="text-new-teal" style="margin-top: 5px;">
            <% review.rating.times do%>
              ★
            <% end %>
          </p>
          <p><%= review.text %></p>
          <p class="subscript nmb">-<%= review.author_first %> <%= review.author_last.first(1) %>.</p>
        </div>
  <% end %>
</section>

<style>
  .background-white { background-color: white; }
  .text-new-teal { color: #1F404A }
  .clickable { cursor: pointer; }
  .review-slick { padding: 3vw; }
  .review-slick-slide { 
    margin: 1vw; 
    border-radius: 20px;
    padding: 1vw 2vw 2vw;
    min-height: 20.33vw;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
<%#   .review-slick-slide.slick-active[data-slick-index="0"], .review-slick-slide.slick-active[data-slick-index="2"] {
    margin-top: 2.3vw;
  }
  .review-slick-slide.slick-active[data-slick-index="1"] { height: 23vw !important; } %>
</style>
<script>

  $('.review-slick').slick({
  infinite: true,
  slidesToShow: 3,
  sldiesToScroll: 3,
  adaptiveHeight: true, 
});
    
</script>
