/*general*/

@font-face {
  font-family: 'Avenir-Next-Condensed';
  src: font-url('AvenirNextCondensed-Heavy.ttf'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: font-url('Lexend-Regular.ttf'); 
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: font-url('Lexend-SemiBold.ttf'); 
  font-weight: 700; 
  font-style: bold;
}


.background-natural { background-color: #f7f5f2; }
.background-charcoal { background-color: #2d2b26; }
.background-light-red { background-color: #f8b6bd; }
.background-red { background-color: #f04e4c; }
.background-dark-red { background-color: #be1f24; }
.background-light-teal { background-color: #a0dbe3; }
.background-teal { background-color: #66cad8; }
.background-flow-teal { background-color: #6CD7DE; }

.background-dark-teal { background-color: #007d84; }
.background-light-purple { background-color: #afbde1; }
.background-purple { background-color: #9093c8; }
.background-dark-purple { background-color: #21409A; }
.background-white { background-color: white; }
.text-white { color: white; }
.text-natural { color: #f7f5f2 ; }
.text-charcoal { color: #2d2b26; }
.text-light-red { color: #f8b6bd; }
.text-red { color: #f04e4c; }
.text-dark-red { color: #be1f24; }
.text-light-teal { color: #a0dbe3; }
.text-teal { color: #66cad8; }
.text-dark-teal { color: #007d84; }
.text-light-purple { color: #afbde1; }
.text-purple { color: #9093c8; }
.text-dark-purple { color: #21409A; }
.border-natural { border: 1px solid #f7f5f2; border-radius: 40px; }
.border-light-teal { border: 2px solid #a0dbe3; border-radius: 40px; }
.border-dark-teal { border: 2px solid #007d84; border-radius: 40px; }

.index-controls  {
    position: absolute;
    right: 11%;
    margin-top: 2%;
}


h1.detail-accent::before {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position: absolute;
    margin-left: -4.5%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5%;
    width: 5vw;
    height: 5vw;
}
h1.detail-accent::after {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position:absolute;
    width: 5vw;
    height: 5vw;
    transform:  rotate(180deg);
    margin-top:  0.5%;
    background-size:  contain;
    background-repeat:  no-repeat;
    margin-left:  -1%;
}
span.detail-accent::before {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position: absolute;
    margin-left: -3.8%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1%;
    width: 5vw;
    height: 5vw;
}
span.detail-accent::after {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position:absolute;
    width: 5vw;
    height: 5vw;
    transform:  rotate(180deg);
    margin-top:  1%;
    background-size:  contain;
    background-repeat:  no-repeat;
    margin-left:  -1%;
}
h3.detail-accent::before {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position: absolute;
    margin-left: -2%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.5%;
    width: 2vw;
    height: 2vw;
}
h3.detail-accent::after {
    content: '';
    background-image: image-url('rebrand-detail.png');
    position:absolute;
    width: 2vw;
    height: 2vw;
    transform:  rotate(180deg);
    margin-top:  0.5%;
    background-size:  contain;
    background-repeat:  no-repeat;
}
.double-accent-padding { padding: 50px; }
.verified { width: 15px; margin-right: 2px; display: inline-block !important; }
.review-wrapper { width: 80%; min-width: 300px; margin:20px auto; }
.fdr { flex-direction: column; align-items: flex-start !important;}
.ttu { text-transform: uppercase; }
h1, h2 ,h3, h4{ 
  font-family: "Avenir-Next-Condensed"; 
  color: #2d2b26;
  font-weight:  800;
  line-height: 1;
}
 button, span, h5 {
  font-family: "Lexend";
  font-weight:  600;
  color:  #2d2b26;
}
p, li, tr, td, div, pre, textarea{ 
  font-family: "Lexend";
  font-weight:  400;
  color: #2d2b26;
}

.accent-padding-tbo { padding-top: 20px; padding-bottom: 20px; }

.three-fourths { width: 75%; align-self: flex-start; }

$purple: #fcf9fd;
$white: #Fff;
$lightgray: lightgray;
$darkgray: #7b8284;
body { 
  margin: 0;
  color: $darkgray;
}
.icon { width: 150px; }
form, input, .decision { color: $darkgray; }
a {color: #2d2b26;}
.ttu { text-transfoxrm: uppercase; }
.tac { text-align: center; }
.vam { vertical-align: middle; }
.ib { display: inline-block; }
.jcc {justify-content: center;}
.text-white { color: #fff; }
.ttl { text-transform: lowercase; }
.flex-container-no, .flex-container{
  display: flex;
  align-items: center;
}
.pagination { text-align: center; }
.nm { margin: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }
.ma {
  display: block;
  margin: 0 auto;
}
.half-no { width: 50%; }
.subscript { font-size: 11pt; }
a {text-decoration: none;}
.quarter { width: 25%; max-width: 150px; }
.half { width: 50%; }
.tar { text-align: right; }
.accent-section {
  max-width: 1000px;
  margin: 20px auto;
}
.accent-padding.page-header { 
  min-height: 300px;
}
@media only screen and (min-width: 1100px) {
  h1 { font-size: 67pt; } 
  h2 { font-size: 34pt; } 
  h3{ font-size: 16pt; } 
  p, table { font-size: 12pt; } 
  .main { padding: 50px; }
  .main-to { padding: 50px 0;}
  .main-so { padding: 0 50px ;}

}
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  h1 { font-size: 57pt; } 
  h2 { font-size: 32pt; } 
  h3{ font-size: 14pt; } 
  p, table { font-size: 12pt; } 
  .main { padding: 50px; }
  .main-to { padding: 50px 0; }
  .main-so { padding: 0 50px; }


}
@media only screen and (min-width: 800px) {
  .paca-background { background-position: 100px;}
  .review-padding { padding: 50px 100px; align-items: flex-start; }

}
@media only screen and (min-width: 589px) and (max-width: 799px) {
  h1 { font-size: 43pt; } 
  h2 { font-size: 30pt; } 
  p, table { font-size: 12pt; }
  .main { padding: 25px; }
  .main-to { padding: 25px 0; }
  .main-so { padding: 0 25px; }
}
@media only screen and (min-width: 589px) {
  .mo { display: none; }
  .accent-padding { padding: 20px; }
  .star-wrapper { margin-left: 5px; }
  .jlogo { 
    width: 100px; 
    vertical-align: middle;
    margin: 0px 20px 0px 20px; 
    float: left;
    margin-top: 10px;
  }
  .accent-padding.page-header { padding: 50px; }
}
@media only screen and (max-width: 588px) {
  h1 { font-size: 22pt; } 
  h2 { font-size: 16pt; } 
  h3 { font-size: 12pt; }
  p { font-size: 10pt; }
  .main { padding: 15px 15px 30px 15px; }
  .main-to { padding: 15px 0 30px 0; }
  .main-so { padding: 0 15px; }
  .flex-container { display: block; }
  .useful { padding: 0; }
  .flex-container .half { width: 100%; }
  .do { display: none; }
  .accent-padding { padding: 10px; }
  .half { width: 100%; }
  .jlogo {
    width: 80px;
    vertical-align: middle;
    margin: 0px 10px 0px 10px;
    float: left;
  }
  .accent-padding.page-header { padding: 20px; }
  .paca-background { background-position: -80px bottom; } 
  #staff-favorite-details form, #live-stream-details form, #all-reviews form { text-align: left; }
}
@media only screen and (max-width: 450px) {
  .page-header .half-no:first-of-type { width: 50%; }
  .page-header .half-no:nth-of-type(2n) { width: 60%; }
}
@media only screen and (max-width: 340px) {
  .accent-padding.page-header { padding: 0px; }
}
/*new review*/
.new_review {
    width: 80%;
    margin: 0 auto;
    min-width: 290px;
    max-width: 500px;
    textarea{
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
    font-size: 10pt;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 20px;
}
  select, input[type='text'] {
    height: 45px;
    color: $darkgray;
    font-size: 10pt;
    padding: 10px !important;
    border: 1px solid lightgray;
    background: white;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin: 10px 0;
}
  .button {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background: #f04e4c;
    padding: 11px;
    input {
    font-size: 12pt;
    color: white;
    background: transparent;
    border: none;
    -webkit-appearance:none;

  }
  }
}
#rating-wrapper { padding: 10px; }
$unchecked-star: '\2606';
$unchecked-color: $darkgray;
$checked-star: '\2605';
$checked-color: #f04e4c;
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & input {
    display: none;
  
    & + label,  {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 19pt;
      margin: 0 5px;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: #f04e4c;
      text-shadow: 0 0 1px #333;
    }
  }
  
  /* the hidden clearer */
  & .star-cb-clear + label  {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover input + label:hover ~ label:before,
  &:hover input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
  }
}
/*show review*/
#show-review {
  background-image: image-url('Popups_friends.png');
  height: 96vh;
  min-height: fit-content;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.atf-paca {
    width: 20vw;
    margin-bottom: -51px;
}
.animated-button { background-repeat: no-repeat; background-position: center; }
.animated-button-red {     background-image: image-url('rebrand-cta.svg');
}
/*all reviews*/
.useful {
    font-size: 10pt;
    background: transparent;
    border: none;
    background-image: image-url('stroke.png');
    background-position: 58px 7px;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 90px;
    height: 42px;
    text-align: left;
}
.paca-background {
  background-repeat: no-repeat;
  background-size: contain;
    background-image: image-url('llama.png');
    background-position: bottom right;

}
@media only screen and (max-width: 588px) {
  .paca-background { background-size: 40% !important; }
}

.filled-paca { background-image: image-url('filled.png');
}
/*review dashboard*/
.denial { font-size: 35px; }
.approval { font-size: 20px; }
.decision { background: transparent; border: none; }
#decision-wrapper { 
  margin-right: 20px;
  min-width: fit-content;
}
#pending-reviews {
  border-bottom: 2px solid #a0dbe3;
}
.display-fav {
    font-weight: lighter;
    font-size: 10pt;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
}
.rex {
  margin-left: -100px;
  width: 100px;
}
/*user login / registration*/
#error_explanation { 
  text-align: center;
  h2 { font-size: 12pt; }
  ul { text-align: center; 
    li {
      display: block;
      }
  }
 }
.pacas-employee form input[type="email"], .pacas-employee form input[type="password"] {
    width: 90%;
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    border: 1px solid #d1cdcd;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    margin: 6px;
    display: block;
    margin: 10px auto;
}
.background-paca { display: block; margin: 0 auto; max-width: 100%; }
.pacas-employee form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 275px;
    max-width: 500px;
}
.border-bottom-gray { border-bottom: 1px solid $darkgray; padding: 2.5px; }
.pacas-employee input[type=submit] {
    font-size: 12pt;
    line-height: 2;
    width: 90%;
    padding: 10px;
    color: white;
    display: block;
    margin: 20px auto;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    background: #f04e4c;
}
.pacas-employee .field .subscript {
    display: inline-block;
    margin-left: 5%;
}
/* nav */
nav { padding: 10px; }
ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
  li {
    display: inline-block;
    margin: 10px;
    font-size: 10pt;
    vertical-align: middle;
  }
}

@charset 'UTF-8';


/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

  src: font-url('slick.eot'); 
    src: font-url('slick.eot?#iefix') format('embedded-opentype'), font-url('slick.woff') format('woff'), font-url('slick.ttf') format('truetype'), font-url('slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;

    opacity: .75;
    color: #a0dbe3;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 10px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

