

$primary-color: #33ffcc;

body { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
}

h1,h2,h3,h4,h5 { font-family: 'Montserrat', sans-serif; }

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active {
  color: $primary-color;
}