// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #01ffc5;

body { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  max-width: 1366px;
  margin: 0 auto;
}

h2 {text-align: center;}

section { 
  padding:50px;
  margin-bottom: 50px;
}
section:last-of-type {
  margin-bottom: 0 !important;
}
#hero { 
  height: 60vh;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('ATF.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-color: $primary-color;
  #hero_text { 
    width: 100%;
    h1 { 
      font-size: 67pt; 
      margin: 25px 0;
      color: white;
    }
    p { 
      font-weight: lighter;
      color: white;
      font-size: 14pt;
      text-transform: lowercase;
    }
  }
}

.secondary_button {
  border: 5px solid white;
  padding: 10px 50px;
  margin: 25px 0;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: 16pt;
  cursor: pointer;
}

.pending_reviews {
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
  font-weight: 300;
  padding: 50px;
}

.border_left {
  border-left: 5px solid $primary-color;
}

.border_right {
  border-right: 5px solid $primary-color;
}
.sub_header { 
  text-align: center;
  font-weight: 300;
  margin-top: -20px;
  font-size: 10pt;
}

#review_count {
  margin-bottom: 100px;
  h2 { 
    font-size: 120pt; 
    margin: 25px;
    color: $primary-color;
  }
  h3 { text-align: center; }
}

#review_highlights {
  h2 { 
    font-size: 46pt;
    text-shadow: -4px 4px white;
    text-transform: lowercase;
    font-weight: 500;
  }
  background-color: $primary-color;
  p { 
    display: inline-block;
    max-width: 40%;
    margin: 4%;
  }
}





