<div id="edit-product" class="main">

  <%= form_for @product do |f| %>
    
      <h3 class="text-green">Name:</h3>
      <%= f.text_field :title %>
   
      <span><%= f.submit %></span>
  <% end %>
</div>