
<div id="show-review" class="main">
  <h1 class="tac text-green nmb">Thank You for Your Feedback!</h1>
  <h2 class="nmt tac">Use code: REVIEW15 for 15% off your next order</h2>
  
 

<p class="tac">If you are done, you can exit the page, if you would like to leave another review <a href="/reviews/new">click here</a>.</p>
</div>