
<style>
 nav { display: none; }
</style>

<div id="show-review" class="main">
  <h2 class="tac nmb">Thank You!</h2>
  <h3 class=" tac">Use code: REVIEW15 for 15% <br>off your next order.</h3>
  
 

<p class="tac subscript">If you are done, you can exit the page, <br> if you would like to send us more feedback email us at <a href="mailto:support@pacas.us">support@pacas.us</a>.</p>
</div>
