<h2><%= @review.product.title %></h2>
<p><%= @review.text %></p>
<p><%= @review.rating %> / 5</p>

<h3>Some copy thanking them for a review</h3>
<p>If you are done, you can exit the page, if you would like to leave another review. Click below</p>
<a href="/reviews/new">Leave another Review</a>