
<div id="show-review" class="main">
  <h1 class="tac text-green nmb">Thank You!</h1>
  <h3 class=" tac">Use code: REVIEW15 for 15% <br>off your next order</h3>
  
 

<p class="tac subscript">If you are done, you can exit the page, <br> if you would like to leave another review <a href="/reviews/new">click here</a>.</p>
</div>