
<style>
 nav { display: none; }
</style>

<div id="show-review" class="background-fleece">
  <div class="main">
  <h1 class="tac nmb ttu">Thank You!</h1>
  <p class="tac">We value your feedback.<br>
    Here is <span> 15% off</span> your next order. </p>
  <div class="accent-padding">
  <p class="tac">Use code: <span class="coupon-code">Review15</span></p></div>
 

<p class="tac subscript">If you would like to send us more feedback<br class="mo"> email us at <a href="mailto:support@pacas.us">support@pacas.us</a>.</p>
</div>
</div>